<header>
  
  <div class="bgimg">
    <h1>
      TechnoShop
    </h1>
    <div class="tch">

    </div>
    <div class="searchjdida" id="searchheader">
        <input id="searchbar" type="text" name="search" placeholder="Chercher produit..">
        <select id="searchbar2" name="product" class="test">
            <option value="categorie">Categorie</option>
            <option value="Imprimante">Imprimante</option>
            <option value="Moniteur">Moniteur</option>
            <option value="Telephone portable">Telephone portable</option>
            <option value="Ordinateur bureau">Ordinateur bureau</option>
            <option value="Ordinateur portable">Ordinateur portable</option>
            <option value="Appareil photo">Appareil photo</option>
            <option value="Tablette">Tablette</option>
        </select>
    </div>
  </div>
  <nav>
    <ul>
      {{#unless user}}
      <li id="creation">
        <a href="/creation">Inscription</a>

      </li>
      <li id="connection">
        <a href="/">Connexion</a>
        {{/unless}}
        {{#if user}}
      </li>
      <li id="activities">
        <a href="/activitie">Magasiner</a>
      </li>
      <li id="compte">
        <a href="/compte" id="compte">Panier</a>
      </li>
       <li id="Contact">
        <a href="/Contact">Contact</a>
      </li>
      {{#if isAdmin}}
      <li id="admin">
        <a href="/admin">Admin</a>
      </li>
      {{/if}}

      {{/if}}

      
      {{#if user}}
      <li>
        <form method="post" action="/deconnexion">
          <input type="submit" value="Deconnexion">
        </form>
      </li>
      {{/if}}
    </ul>
  </nav>
</header>