<div id="wrapper">
<form id="form-connexion" class="form-authentification" novalidate>
    <fieldset id="fielsetform">
        
        <legend>
            Connexion
        </legend>
        <div id="erreurConn" class=" erreur"></div>

        <label for="input-courriel">
            <input class="test" type="email" placeholder="Courriel" id="input-courriel" required>
            <div id="courrielErrorconn" class="error"></div>
        </label>

        <label for="input-mot-de-passe">
            <input class="test" type="password" placeholder="Mot de passe" id="input-password" required>
            <div id="passwordErrorconn" class="error"></div>
        </label>

        <a style="text-decoration: underline; cursor:pointer" id="recupererMdp">récupération de mot de passe</a>

        <input type="submit" value="Connexion" id="connexion">
    </fieldset>
</form>
</div>