<div class="Contact">


<form id="formCreation" novalidate>
    <fieldset id="fielsetform">

        <legend>Contactez Nous</legend>

        <div id="erreur" class="erreur">

        </div>

        <label> 
            <input  class="test" type="text" placeholder="Nom" id="nomUser" name="name">
            <div id="nomError" class="error">srzezefef</div>
        </label>

        <label> 
            <input  class="test" type="email"  placeholder="Adresse Email" name="email" id="courrielUser">
            <div id="courrielError" class="error"></div>
        </label>

        <label>
            <textarea class="test" style="height: 125px;" name="message" placeholder="Message" id="messageUser" minlength="20"></textarea>
            <div id="messageError" class="error"></div>
        </label>

        <button  id="soumettreusertest" type="submit" >Envoyer</button> 
        <div id ="zoneSucces" >
             <p class="messageSucces">Nous avons reçue votre message. Merci!</p>
        </div>
    </fieldset>
</form>
<fieldset id="fielsetform" class="information">

    <legend>Retrouvez Nous</legend>
    <ul class="ul">
        <li class="liInfo" ><i class='fa-solid fa-location-dot blue-color'></i> <address>801 Aviation Pkwy, Ottawa, ON K1K 4R3</address></li>
        <li><i class='fa fa-phone'></i>  +1 (613)-345-6789</li>
        <li><i class='fas fa-mail-bulk'></i>technoshop.lacite@gmail.com</li>
        <li><i class='fas fa-clock'></i> Lundi-Vendredi 9 AM – 5 PM</li>
    </ul>
</fieldset>
</div>


