<style>
	
		.container {
			max-width: 600px;
			margin: 5% auto;
			padding: 20px;
			background-color: #fff;
			border-radius: 5px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            
		}

		.messageMerci {
			font-size: 30px;
			color:#28dcaa;
			text-align: center;
			margin-bottom: 20px;
		}

		.message1 {
			font-size: 18px;
			color: #666;
			margin-bottom: 20px;
			line-height: 1.5;
		}

		img {
			display: block;
			margin: 0 auto;
			max-width: 100%;
			height: auto;
			margin-bottom: 20px;
		}
	</style>
    <img src="../produits/success.gif" alt="gif" style="height: 200px; width: 200px;" >
	<div class="container">
		<h1 class="messageMerci">Merci d'avoir magasiné chez nous !</h1>
		<p class="message1">Nous voulons vous remercier de votre achat chez TechnoShop. Nous sommes honorés de vous avoir parmi nos clients et nous espérons que vous êtes satisfait de votre expérience de magasinage.</p>
		
		<p class="message1">Si vous avez des commentaires ou des suggestions sur votre expérience de magasinage, n'hésitez pas à nous contacter à <a style="text-decoration: underline; color: mediumblue;" href="/contact">Contact</a> . Nous sommes toujours à l'écoute de nos clients et nous apprécions grandement votre opinion.</p>
		<p class="message1">Encore une fois, merci d'avoir choisi TechnoShop. Nous espérons que vous reviendrez bientôt !</p>
		
	</div>
	