<!DOCTYPE html>
<html>
<head>
	<title>Notification de paiement incomplet</title>
	<style>
		.container {
			max-width: 600px;
			margin: 5% auto;
			padding: 20px;
			background-color: #fff;
			border-radius: 5px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);        
		}

		.messageErreur {
			font-size: 32px;
			color: #ff5050;
			text-align: center;
			margin-bottom: 20px;
		}

		.message1 {
			font-size: 18px;
			color: #666;
			margin-bottom: 20px;
			line-height: 1.5;
		}

		img {
			display: block;
			margin: 0 auto;
			max-width: 100%;
			height: auto;
			margin-bottom: 20px;
		}
	</style>
</head>
<body>
	<img src="../produits/erreur.gif" alt="gif" style="height: 200px; width: 200px;" >
	<div class="container">
		<h1 class="messageErreur">Erreur de paiement !</h1>
		<p class="message1">Nous sommes désolés, mais il y a eu un problème avec votre paiement et nous n'avons pas pu le compléter. Veuillez vérifier que toutes les informations de votre carte de crédit sont correctes et réessayez.</p>
		<p class="message1">Si vous avez des questions ou des préoccupations, n'hésitez pas à nous contacter à <a style="text-decoration: underline; color: mediumblue;" href="/contact">Contact</a> . Nous sommes toujours à l'écoute de nos clients et nous ferons de notre mieux pour vous aider.</p>
		<p class="message1">Nous espérons que vous pourrez résoudre ce problème rapidement et que vous reviendrez bientôt pour effectuer votre achat chez TechnoShop.</p>
	</div>
</body>
</html>
