html {
    box-sizing: border-box;
    height: 100vh;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f5f5f7;
    font-family: Rubik, sans-serif;
}
main {
    height: 100vh;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

/*******      ENTETE      ************/

h1 {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #FFFFFF;
    margin-left: 30px;

}


header {
    display: flex;
    flex-direction: column;
    background-color:#131921;
}

.bgimg {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav {
    background-color: #232f3e;
    height: 3rem;
}

nav ul {
    list-style-type: none;
    justify-content: center;
    display: flex;
    text-align: end;
    flex-wrap: wrap;
    gap: 20px;
    height: 100%;
    margin: 0;
}

nav li {
    display: flex;
    color: white;
    font-size: 1.2em;

    height: 100%;
}

a {
    text-decoration: none;

}

input {
    text-decoration: none;

}

/* li form {
    padding: 1em 1em;
    border: 5px outset;

} */

a,
a:link,
a:visited a:focus {
    color: inherit;
    outline: none;
}


nav a {
    display: flex;
    padding-top: 0.7rem;
}

nav a:hover,
nav a:focus {

    color: #ffffff;
    background-color: #febd69;;
    border-radius: 0.5em;
    padding-left: 2em;
    padding-right: 2em;

}


input,
input:link,
input:visited input:focus {
    color: inherit;
    outline: none;

}


nav input {
    padding-top: 0.7rem;
    border: none;
    background-color: transparent;

}

nav input:hover,
nav input:focus {
    height: 100%;
    color: #ffffff;
    background-color: #2560a8;
    border-radius: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0rem;
    cursor: pointer;
}

/*******      CSS body     ************/

.heading {
    color: #212529;
    font-weight: bold;
    width: min-content;
    height: 200px;
}

#description {
    color: #1C1C1B;
    word-wrap: break-word;
}

#activitie {
    color: #BF4800;
    font-family: Rubik, sans-serif;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

p {
    margin: .5rem;
    text-align: justify;
}

footer span {
    color: #ffffff;

}

span {
    color: #000000;
    font-weight: bold;
}

#wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 1em auto;
    max-width: 1500px;
}
#searchbar {
    margin-top: 15px;
    border-right: none;
    padding: 15px;
    border-radius: 10px 0px  0px 10px;
    width: 30%;
    border: none;
    display: grid;
    justify-self: center;
}
#searchbar2 {
    margin-top: 15px;
    border-left: none;
    padding: 15px;
    border: none;
    border-radius: 0px 10px 10px   0px;
    width: 10%;
    display: grid;
    justify-self: center;
    background-color: #febd69;
}
  
  #searchbar2 option {
    background-color: white;
}

.quantite-admin{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.NonMessage{
    display: none;
}
.stock-warning {
    background-color: #FFE4B5;
    padding: 8px;
    border-radius: 10px;
    
    }

.stock-out-warning {
    background-color: #FFC0CB;
    padding: 8px;
    border-radius: 10px;
    font-size: small;
}

#fielsetform-adresse {
    display: none;
    flex-direction: column;
    align-items: center;
    border: 2px solid #ffffff;
    border-radius: 10px;
    background-color: #ffffff;
    gap: 15px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #ffffff;
    border-radius: .6em;
    padding: 1em;
    margin: 1em;
    width: 350px;
    box-shadow: 0 0 1em #1e3b2c;
}
.card-magasinger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #ffffff;
    border-radius: .6em;
    padding: 1em;
    margin: 1em;
    min-width: 600px;
    box-shadow: 0 0 1em #1e3b2c;
    min-height: 380px;
    width: 600px;
}

.divproduit-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
}


.divproduit {
    display: flex;
    flex-direction: row;
}

.card:hover,
.card:focus {
    box-shadow: 0 0 1em #1e3b2c;
}


#inscireActivitie,
#supprimerActivitie,
#goshopping{
    background-color: #212529;
    display: flex;
    width: auto;
    max-width: 300px;
    font-size: 16px;
    cursor: pointer;
    color: #ffffff;
    padding: 13px 33px;
    border-radius: 20px;
    font-size: 16px;
    border: none;
    justify-content: center;
    align-self: center;
}


#goshopping{
    width: 200px;
}
.quantite-cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.img-nom-desc {
    display: flex;
    justify-content: center;
    align-items: center;
}

#goshopping:hover,
#inscireActivitie:hover,
#supprimerActivitie:hover{
    background-color:#febd69 ;
    color:#212529 ;


}
#desinscireActivitie {
    height: 50px;
    width: 50px;
    border: none;
    color: white;
    cursor: pointer;
}
#addquantite {
    background-color: #212529;
    display: flex;
    width: 10px;
    font-size: 16px;
    cursor: pointer;
    color: #ffffff;
    padding: 10px 25px;
    border-radius: 20px  0px 0px 20px;
    border: none;
    justify-content: center;
    align-self: center;
}
#decrisequantite {
    background-color: #212529;
    display: flex;
    width: 10px;
    font-size: 16px;
    cursor: pointer;
    color: #ffffff;
    padding: 10px 25px;
    border-radius:   0px 20px 20px 0px ;
    border: none;
    border-left:solid 1px  #f5f5f7;
    justify-content: center;
    align-self: center;
}
#addquantite:disabled,
#decrisequantite:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
.plusETmoins {
    display: flex;
    flex-direction: row;

}

g

#inscireActivitie,
#soumettreuser,
#connexion,#connexionCode,#connexionEmail,#connexionmdp {
    cursor: pointer;
}

#inscireActivitie:disabled {
    background-color: #808080;
    cursor: not-allowed;
}

.compteContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.payementCard {
    display: flex;
    flex-direction: column; 
    align-items: flex-end;
}
.fetch{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.payerButton {
    background-color: #2615e0;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

/*************** CSS formulaire****************/
#formActivitie,
#formCreation,
#form-connexion {

    flex-direction: column;
    justify-content: space-around;
    padding: 1em;
    margin: 1em;
    display: flex;
    justify-items: center;
    width: 750px;
}

#formActivitie,
#formCreation,
#form-connexion {
    display: flex;
    flex-direction: column;
}

#formActivitie {
    flex-wrap: wrap;
}

#formActivitie label,
#formCreation label,
#form-connexion label {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 70%;
}

#formActivitie .test,
#formCreation .test,
#form-connexion .test {
    background-color: #f5f5f7;
    border-radius: 10px;
    border-color: transparent;
    padding: 10px;
    gap: 20px;

}

.form {
    display: grid;
    justify-content: center;
}

#fielsetform {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #ffffff;
    border-radius: 10px;
    background-color: #ffffff;
    gap: 15px;
    box-shadow: 5px 10px 8px 10px #888888
}

.image{
   width: 280px;
    height:280px;
    align-self: center;
}
legend {
    font-size: 18px;
    font-weight: bold;
}
.forgot-password-message {
    font-size: 1rem;
    color: #333;
    margin: 10px 0;
    text-align: center;
}
#zoneCode,#zonemdp,#zoneSucces{
    display: none;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
#zoneEmail{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.messageSucces{
background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
  padding: 10px;
  border-radius: 5px;
}
#soumettreuser,
#Soumettre,
#soumettreusertest,
#connexion,#connexionCode,#connexionEmail,#connexionmdp {
    background-color: #febd69;
    display: flex;
    justify-content: center;
    padding: 13px 33px;
    border-radius: 20px;
    font-size: 16px;
    color: #232f3e;
    border: none;
    cursor: pointer;
}
#connexionmdp:hover,
#connexionCode:hover,
#connexionEmail:hover,
#connexion:hover,
#Soumettre:hover,
#soumettreuser:hover {
    background-color: #232f3e;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.Contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1em;
    margin: 1em;
    justify-content: space-evenly;
}

.information {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;

    padding: 1em;
    margin: 2em;
    justify-items: center;
    border-radius: 10px;
}

.ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 50px;
    justify-content: space-evenly;
}

.liInfo {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/************* CSS Erreur formulaire**********************/

.error {
    margin: 5px;
    width: 180px;
    font-size: 14px;
    color: #C62828;
    background: rgba(255, 0, 0, 0.1);
    text-align: left;
    padding: 1px 2px;
    border-radius: 3px;
    border: 1px solid #EF9A9A;
    display: none;
    
}

.erreur {
    margin: 5px;

    font-size: 20px;
    color: #C62828;
    background: rgba(255, 0, 0, 0.1);
    text-align: left;
    padding: 1px 2px;
    border-radius: 3px;
    border: 1px solid #EF9A9A;
    display: none;

}

.searchjdida {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 20px;
}


/*******     CSS     Pied de page  ************/



footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #131921;
    height: 6em;
    font-weight: bold;
    color: white;
    padding: 2em;
    gap: 10px;
}

#message-cookie {
    display: none;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: sticky;
    top: 50%;
    border: 1px solid #142d60;
    background-color: #b4b4f1;
    height: 6em;
    width: 40%;
    left: 30%;
    padding: 1rem;
    border-radius: 15px;
}

#button-cookie {

    padding: 10px 15px;
    background-color: rgb(233, 232, 232);
    cursor: pointer;
    text-align: center;
    top: 70%;
    left: 100%;
    border-radius: 15px;
}

#button-cookie:hover {
    background-color: rgb(132, 132, 247)
}

#nomstyle {
    font-size: 1.875em;
    color: #142d60;
    text-align: center;
    align-items: center;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.success {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
    margin: 300px;
    border-radius: 20px;
}

.success-message {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
.Divcontainers{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px ;
}
.divone{
    width:700px;
    height: 421px;
    background-size: cover;
    background-image: url("../../produits/main-banner-1.jpg");
    border-radius: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.divtwo {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    grid-gap: 10px; /* Optional - adds space between grid items */
    width:660px;
    height: 421px;
  }

  .produit {
    width:311px;
    height: 203px;
    background-color: rgb(2, 2, 2); /* Optional - sets a background color for grid items */
    background-size: cover;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  /* Media query for smaller screens */
  @media (max-width:1200px) {
   
    .divone {
        width: 100%;
        
    background-size: cover;
      }
  
      .produit {
        width: 100%;
        height: 100%;
      }
  }


  .cart-header {
    margin:20px;
    padding: 16px 0px;
    display: grid;
    grid-template-rows: auto auto;
    gap: 10px;
}
.headOfcart{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-items: center;
}
.bodyofcart{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-items: center;
  }
/* .bodyofcart >*{
    display: flex;
    justify-self: center;
} */
.cart-header > *{
    border-bottom: 1px solid #b6b6b6;
}
.cart-img{
        height: 120px;
        width: 120px;
 }
.cart-col {
    color: #777;
}
.img-nom-desc {
    display: flex;
    flex-direction: row;
}
.items {
    margin: 0px 0px 8px;
    padding: 16px 0px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.items-container {
    height: 100%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  

  .marquee {
      overflow: hidden; 
    }
    
    .marquee-content {
      display: flex;
      animation: scrolling 40s linear infinite;
    }
    
    .marquee-item {
      flex: 0 0 16vw;
      margin: 0 1vw;
    /*   flex: 0 0 20vw; */
    /*   margin: 0 2vw; */
    }
    
    .marquee-item img {
      display: block;
      width: 150px;
    /*   padding: 0 20px; */
    }
    
    @keyframes scrolling {
      0% { transform: translateX(0); }
      100% { transform: translatex(-144vw); }
    }
    
  
.form-adresse{
    align-self: center;
    justify-self: center;
}
  
.items-continer{
    display: flex;
    flex-direction: column;
}
  
  
  